<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/header_user.css">
    <link rel="stylesheet" href="./css/user_form.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title>天下美食-个人中心</title>
</head>

<body>
    <div class="box_outside">
        <div class="myself_bg">
            <div class="wrap">
                <div class="self_msg">
                    <div class="self_img">
                        <img src="img/img.jpg" alt="">
                    </div>
                    <div class="self_name">
                        <i>zmouse_Y0xF</i>
                        <span>2018-09-05加入</span>
                    </div>
                </div>
                <div class="self_visit">
                    <ul>
                        <li>
                            <i>0</i>
                            <span>粉丝</span>
                        </li>
                        <li>
                            <i>16</i>
                            <span>关注</span>
                        </li>
                        <li>
                            <i>1</i>
                            <span>访问</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="self_nav">
            <div class="wrap">
                <ul>
                    <li><a href="#">主页</a></li>
                    <li><a href="#">基本资料</a></li>
                    <li class="active"><a href="#">我的菜谱</a></li>
                    <li><a href="#">我的收藏</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
        </nav>
        <section class="self_content">
            <div class="wrap">
                <h2><span>发布新菜谱</span></h2>
                <form class="addmenuform" action="">
                    <div>
                        <p>菜谱名称</p>
                        <input name="menuname" type="text" required>
                    </div>
                    <div>
                        <p>成品图片（最多9张）</p>
                        <label class="filelabel"><span>上传成品图</span><input name="addfile" type="file" required></label>
                        <textarea name="describe" placeholder="请输入菜谱描述，最多输入500字"></textarea>
                    </div>
                    <div>
                        <p>基本参数</p>
                        <ul class="optionlist clearfix">
                            <li>
                                <div class="select clearfix">
                                    <span>难度</span>
                                    <em>普通</em>
                                    <i></i>
                                </div>
                                <div class="selectoption hidden">
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                </div>
                            </li>
                            <li>
                                <div class="select clearfix">
                                    <span>口味</span>
                                    <em>微辣</em>
                                    <i></i>
                                </div>
                                <div class="selectoption hidden">
                                    <span>烧</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <br />
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                </div>
                            </li>
                            <li>
                                <div class="select clearfix">
                                    <span>工艺</span>
                                    <em>烧</em>
                                    <i></i>
                                </div>
                                <div class="selectoption hidden">
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <br />
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                </div>
                            </li>
                            <li>
                                <div class="select clearfix">
                                    <span>耗时</span>
                                    <em>十分钟</em>
                                    <i></i>
                                </div>
                                <div class="selectoption hidden">
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <br />
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                </div>
                            </li>
                            <li>
                                <div class="select clearfix">
                                    <span>厨具</span>
                                    <em class="more_option">炒锅，煮锅，煮锅，煮锅，煮锅，煮锅，煮锅</em>
                                    <i></i>
                                </div>
                                <div class="selectoption hidden">
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <br />
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                    <span>简单</span>
                                    <span>普通</span>
                                    <span>高级</span>
                                    <span>神级</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p>食物明细（新功能：支持添加多组食材，并可以修改食材组名）</p>
                        <div class="addfood">
                            <h4>主料</h4>
                            <ul class="foodlist">
                                <li class="foodnum clearfix">
                                    <input type="text" placeholder="食材名">
                                    <input type="text" placeholder="用量">
                                    <button class="hidden">X</button>
                                </li>
                            </ul>
                            <h4>辅料</h4>
                            <div class="foodnum clearfix">
                                <input type="text" placeholder="食材名">
                                <input type="text" placeholder="用量">
                                <button class="hidden">X</button>
                            </div>
                            <button class="addfoodgroup">添加食材组</button>
                        </div>
                    </div>
                    <div>
                        <p>做法步骤</p>
                        <label class="upload">
                            <span>批量上传</span>
                            <input type="file" required>
                        </label>
                        <ul class="piclist">
                            <li class="clearfix">
                                <label>
                                    <span class="text">点击上传步骤图</span>
                                    <input type="file">
                                </label>
                                <textarea name="miaoshu" placeholder="请输入做法说明菜谱描述，最多输入200字"></textarea>
                                <aside class="side_skill">
                                    <span>X</span>
                                    <span>∧</span>
                                    <span>∨</span>
                                    <span>+</span>
                                </aside>
                            </li>
                            <li class="clearfix">
                                <label>
                                    <span class="text">点击上传步骤图</span>
                                    <input type="file">
                                </label>
                                <textarea name="miaoshu" placeholder="请输入做法说明菜谱描述，最多输入200字"></textarea>
                                <aside class="side_skill">
                                    <span>X</span>
                                    <span>∧</span>
                                    <span>∨</span>
                                    <span>+</span>
                                </aside>
                            </li>
                            <li class="clearfix">
                                <label>
                                    <span class="text">点击上传步骤图</span>
                                    <input type="file">
                                </label>
                                <textarea name="miaoshu" placeholder="请输入做法说明菜谱描述，最多输入200字"></textarea>
                                <aside class="side_skill">
                                    <span>X</span>
                                    <span>∧</span>
                                    <span>∨</span>
                                    <span>+</span>
                                </aside>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p class="unrequired">小窍门</p>
                        <textarea class="tips" name="" placeholder="最多输入500字"></textarea>
                    </div>
                    <button class="release">发布菜谱</button>
                </form>
            </div>
        </section>
        <div class="wrap">
            <footer class="bottom_foot">
                <div class="foot_nav">
                    <h3>美食天下 - 让吃更美好！</h3>
                    <nav class="nav_list">
                        <a href="#">关于我们</a>
                        <a href="#">联系我们</a>
                        <a href="#">加入我们</a>
                        <a href="#">服务声明</a>
                        <a href="#">友情链接</a>
                        <a href="#">网站地图</a>
                        <a href="#">移动应用</a>
                    </nav>
                </div>
                <p class="friends_link">
                    <span>友情链接：</span>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                    <a href="#">妙味课堂</a>
                </p>
            </footer>
        </div>
    </div>
</body>

</html>