<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./css/reset.css">
        <link rel="stylesheet" href="./css/header_sub.css">
        <link rel="stylesheet" href="./css/view.css">
        <title>美食天下-带留言</title>
    </head>
    <body>
        <div class="box_outside">
            <div class="wrap">
                <header  class="classify_header clearfix">
                    <div class="top">
                        <a href="">注册</a>
                        <span>|</span>
                        <a href="">登陆</a>

                        <img src="img/img.jpg" class="avatar">
                        <a href="">zMouse</a>
                        <span>|</span>
                        <a href="">退出</a>
                    </div>
                    <div class="logo_header">
                        <h1>美食天下</h1>
                        <button>菜谱</button>
                    </div>
                    <nav class="classify_nav">
                        <a href="#">首页</a>
                        <a class="on" href="#">菜谱</a>
                        <a href="#">精选集</a>
                        <a href="#">排行</a>
                    </nav>
                    <div class="search">
                        <input type="search" />
                        <button type="button" name="button">搜索</button>
                    </div>
                </header>
                <ul class="sub_nav">
                    <li>
                        <a href="#">全部</a>
                        <a href="#">热菜</a>
                        <a href="#">凉菜</a>
                        <a href="#">汤羹</a>
                        <a href="#">主食</a>
                        <a href="#">小吃</a>
                        <a href="#">西餐</a>
                        <a href="#">烘焙</a>
                        <a href="#">饮品</a>
                        <a href="#">零食</a>
                        <a href="#">泡菜腌菜</a>
                        <a href="#">自制食材</a>
                        <a href="#">最新菜谱</a>
                        <a href="#">热菜</a>
                        <a href="#">凉菜</a>
                        <a href="#">汤羹</a>
                        <a href="#">主食</a>
                        <a href="#">小吃</a>
                        <a href="#">西餐</a>
                        <a href="#">烘焙</a>
                        <a href="#">饮品</a>
                        <a href="#">零食</a>
                    </li>
                </ul>
            </div>

            <div class="classify_content">
                <div class="wrap">
                    <div class="location">
                        您的位置：<a>美食天下</a><a>菜谱</a><a>烘焙 早餐 下午茶</a>
                    </div>
                </div>
            </div>
            
            <div class="classify_content">
                <div class="wrap">

                    <article class="food_details">
                        <div class="article_name clearfix">
                            <h3>蔓越莓全麦金黄胚芽面包</h3>
                            <ul class="article_info">
                                <li>
                                    <i>爱心</i>
                                    <span>22</span>
                                </li>
                                <li>
                                    <i>留言</i>
                                    <span>10</span>
                                </li>
                                <li>
                                    <i class="article_img"><img src="img/img.jpg" alt=""></i>
                                    <span>user1</span>
                                </li>
                            </ul>
                        </div>
                        <div class="food_content">
                            <div class="food_img">
                                <img src="img/download.jpg" alt="">
                            </div>
                            <p class="food_describe">
                                四季都有面筋出售，青椒炒面筋，加点豆豉，特别的下饭，常吃不腻。
                                水面筋是用面粉制成的，是一种植物性蛋白质，有麦胶蛋白和麦谷蛋白质组成。
                            </p>
                            <div class="food_detailed">
                                <h4 class="food_title">食材明细</h4>
                                <fieldset>
                                    <legend>主料</legend>
                                    <ul class="detailed_list clearfix">
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                    </ul>
                                </fieldset>
                                <fieldset>
                                    <legend>辅料</legend>
                                    <ul class="detailed_list clearfix">
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                    </ul>
                                </fieldset>
                                <div class="detailed_last">
                                    <ul class="detailed_list clearfix">
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                        <li>
                                            <span>水面筋</span>
                                            <span>适量</span>
                                        </li>
                                    </ul>
                                </div>
                            <div class="food_step">
                                <h4 class="food_title">青椒炒面筋的做法步骤</h4>
                                <ol class="step_list">
                                    <li>
                                        <img src="img/food2.jpg" alt="">
                                        <div class="step_text">
                                            <i>1</i>
                                            <p>这个就是水面筋，一般做好之后都是卷起来的，应当是用机器制成同一个形状的吧。用手撕成细条之后再用水冲洗一次。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="img/food2.jpg" alt="">
                                        <div class="step_text">
                                            <i>2</i>
                                            <p>这个就是水面筋，一般做好之后都是卷起来的，应当是用机器制成同一个形状的吧。用手撕成细条之后再用水冲洗一次。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="img/food2.jpg" alt="">
                                        <div class="step_text">
                                            <i>3</i>
                                            <p>这个就是水面筋，一般做好之后都是卷起来的，应当是用机器制成同一个形状的吧。用手撕成细条之后再用水冲洗一次。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="img/food2.jpg" alt="">
                                        <div class="step_text">
                                            <i>4</i>
                                            <p>这个就是水面筋，一般做好之后都是卷起来的，应当是用机器制成同一个形状的吧。用手撕成细条之后再用水冲洗一次。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="img/food2.jpg" alt="">
                                        <div class="step_text">
                                            <i>5</i>
                                            <p>这个就是水面筋，一般做好之后都是卷起来的，应当是用机器制成同一个形状的吧。用手撕成细条之后再用水冲洗一次。</p>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div class="food_tip">
                                <h4 class="food_title">小窍门</h4>
                                <div class="tip_txt">
                                    <p>
                                        如果喜欢记得点赞、收藏、分享，你的支持也是我前进的动力。如你也有不同的做法与看法，欢迎留言，互相学习。
                                    </p>
                                    <p>
                                        如果喜欢记得点赞、收藏、分享，你的支持也是我前进的动力。
                                    </p>
                                    <span class="food_fenlei">
                                        所属分类：
                                        <a>烘焙</a>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </article>
                    <div class="comment">
                        <h3>评论</h3>
                        <div class="comment_content">
                            <textarea></textarea>
                            <div class="comment_bottom">
                                <span>Ctrl+Enter也可以提交哦</span>
                                <button>发表评论</button>
                            </div>
                        </div>
                        <div class="comment_list">
                            <h4>最新评论（<span>5</span>条）</h4>
                            <ul class="cmt_ul">
                                <li>
                                    <img src="img/img.jpg" alt="">
                                    <div class="comment_txt">
                                        <div class="comment_name">
                                            <span>最初的最美❤</span>
                                            <time>16小时前</time>
                                            <a href="#">回复</a>
                                        </div>
                                        <p>
                                            看着就流口水了
                                        </p>
                                        <span>来自：<i>Android</i>客户端</span>
                                    </div>
                                </li>
                                <li>
                                    <img src="img/img.jpg" alt="">
                                    <div class="comment_txt">
                                        <div class="comment_name">
                                            <span>最初的最美❤</span>
                                            <time>16小时前</time>
                                            <a href="#">回复</a>
                                        </div>
                                        <p>
                                            看着就流口水了
                                        </p>
                                        <span>来自：<i>Android</i>客户端</span>
                                    </div>
                                </li>
                                <li>
                                    <img src="img/img.jpg" alt="">
                                    <div class="comment_txt">
                                        <div class="comment_name">
                                            <span>最初的最美❤</span>
                                            <time>16小时前</time>
                                            <a href="#">回复</a>
                                        </div>
                                        <p>
                                            看着就流口水了
                                        </p>
                                        <span>来自：<i>Android</i>客户端</span>
                                    </div>
                                </li>
                                <li>
                                    <img src="img/img.jpg" alt="">
                                    <div class="comment_txt">
                                        <div class="comment_name">
                                            <span>最初的最美❤</span>
                                            <time>16小时前</time>
                                            <a href="#">回复</a>
                                        </div>
                                        <p>
                                            看着就流口水了
                                        </p>
                                        <span>来自：<i>Android</i>客户端</span>
                                    </div>
                                </li>
                            </ul>
                            <button class="more">查看更多</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <footer class="bottom_foot">
                    <div class="foot_nav">
                        <h3>美食天下 - 让吃更美好！</h3>
                        <nav class="nav_list">
                            <a href="#">关于我们</a>
                            <a href="#">联系我们</a>
                            <a href="#">加入我们</a>
                            <a href="#">服务声明</a>
                            <a href="#">友情链接</a>
                            <a href="#">网站地图</a>
                            <a href="#">移动应用</a>
                        </nav>
                    </div>
                    <p class="friends_link">
                        <span>友情链接：</span>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                        <a href="#">妙味课堂</a>
                    </p>
                </footer>
            </div>
        </div>
    </body>
</html>
